@{
    Layout = "_Layout";
    ViewData["Title"] = "Checkout - Game Store";
}
 
<!DOCTYPE html>
<html>
<head>
    <title>Checkout - Game Store</title>
</head>
<body>
    <div>
        <h3>Checkout</h3>
        <p>Fill the form below to complete your purchase:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.GameId" name="GameId" />
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="User" /> </td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td>Contact phone:</td>
                    <td><input type="text" name="ContactPhone" /></td>
                </tr>
                <tr><td><input type="submit" value="Send" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>