@model IEnumerable<GameStore.Models.Game>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Main - Game Store";
}
<h4>Thank you, @ViewBag.User, for your purchase!</h4>
<p><a href="~/Home/Index">Continue shopping</a></p>